.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.button-1 {
  border: 1px solid transparent;
  border-collapse: separate;
  border-radius: 3px;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 0 4px;
  height: 32px;
  min-width: min-content;
  overflow: hidden;
  padding: 4px 12px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
  vertical-align: middle;
  width: auto;
  background-color: #49c5b1;
  background-position: center;
  color: #fff;
  transition: background 0.4s;
}

.button-1:hover {
  background: #14ab93 radial-gradient(circle, transparent 1%, #14ab93 1%)
    center/15000%;
}

.button-1:active {
  background-color: #44cbb4;
  background-size: 100%;
  transition: background 0s;
}
